{% extends 'base.html.twig' %}

{% block title %}Websites - {{ parent() }}{% endblock %}

{% block main %}
    <div class="d-flex flex-column gap-4 p-4">
        <div class="d-flex flex-column">
            <h2 class="align-self-center">Websites</h2>
        </div>

        <!-- -->
    </div>
{% endblock %}
