<div class="p-3 border border-2">
    <h2 class="text-center fs-6 pb-2 border-bottom">WEBSITES</h2>

    {% set links = funcComicBagiApp.comicProviders(result.code, rec_langs, null, unredacts) %}
    {% if links|length > 0 %}
        {{ include('comic/_individual__links.html.twig') }}
    {% else %}
        {{ include('_err.html.twig', { message: 'No Link Found' }) }}
    {% endif %}
</div>
